<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <section id="services" class="section">
          <div class="container">
            <div class="row">
              <div class="col-md-4 col-sm-6">
                <div class="item-boxes wow fadeInDown" data-wow-delay="0.2s">
                  <div class="icon">
                    <i class="lnr lnr-pencil"></i>
                  </div>
                  <h4>Create a Reservation</h4>
                  <p>Click here to create your own reservation to the Red Bridge Baptist Road to Bethlehem.</p>
                  <select class="form-control form-control-lg" id="reserve-text" aria-describedby="reserve-date" placeholder="Choose a date for reservation">
                    {{!-- {{#iterate times}}
                    <option data-date="{{this.dataValues.beginDate}}">{{this.dataValues.beginDate}}</option>
                    {{/iterate}} --}}
                  </select>
                  <button id="createSubmit" class="btn btn-primary">Submit</button>
                </div>
              </div>
              <div class="col-md-4 col-sm-6">
                <div class="item-boxes wow fadeInDown" data-wow-delay="0.4s">
                  <div class="icon">
                    <i class="lnr lnr-cog"></i>
                  </div>
                  <h4>Reservation Look-up</h4>
                  <p>Enter your email to look up an existing reservation.</p>
                  <br>
                  <input type="text" id="email-text" class="form-control" aria-describedby="email-text" placeholder="Enter Email">
                  <button id="emailSubmit" class="btn btn-primary">Submit</button>
                </div>
              </div>
              <div class="col-md-4 col-sm-6">
                <div class="item-boxes wow fadeInDown" data-wow-delay="0.6s">
                  <div class="icon">
                    <i class="lnr lnr-chart-bars"></i>
                  </div>
                  <h4>Administration Area</h4>
                  <p>Admin Look-up of existing reservations.</p>
                  <br>
                  <select class="form-control form-control-lg" id="time-text" aria-describedby="reserve-date" placeholder="Choose a date for reservation">
                    {{#each times}}
                    <option value="{{this.dataValues.id}}">{{this.dataValues.beginDate}} : {{this.dataValues.startTime}}</option>
                    {{/each}}
                  </select>
                  <button id="adminSubmit" class="btn btn-primary">Submit</button>
                </div>
              </div>
            </div>
        </section>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script>
    var dates = [];
    var times = {{{json times}}};
    {{!-- console.log(times); --}}
    for (i = 0; i < times.length; i++) {
      dates.push(times[i].beginDate);
    }
    {{!-- console.log(dates) --}}
    function onlyUnique(value, index, self) { 
    return self.indexOf(value) === index;
    }
    var uniquedates = dates.filter( onlyUnique );
    {{!-- console.log(uniquedates) --}}
    for(j=0;j<uniquedates.length; j++){
    $("#reserve-text").append("<option data-date="+uniquedates[j]+">"+uniquedates[j]+"</option>");
    }
  </script>
  <script src="/js/index.js"></script>