<section id="contact" class="section col-md-8 offset-md-2">
  <div class="container col-md-12">
    <div class="row justify-content-md-center">
      <div class="col-md-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0.3s">
        <div class="contact-block">
          <div class="section-header">
            {{#forEach times}}
              {{#isFirst}}
                <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">Create Reservation: <span id="date">{{moment beginDate format="LL"}}</span></h2>
                <hr class="lines wow zoomIn" data-wow-delay="0.3s">
              {{/isFirst}}
            {{/forEach}}
          </div>
          <form id="contactForm">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control" id="firstName" name="name" placeholder="First Name" required data-error="Please enter your first name">
                  <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="lastName" name="name" placeholder="Last Name" required data-error="Please enter your last name">
                  <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="phoneNumber" name="name" placeholder="Phone Number" required data-error="Please enter your phone number">
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" autocomplete="address-line1" class="form-control" id="address" name="name" placeholder="Address" required data-error="Please enter your address">
                  <div class="help-block with-errors"></div>
                </div>
                <div class="row">
                  <div class="col-md-8">
                    <div class="form-group">
                      <input type="text" autocomplete="address-level2" class="form-control" id="city" name="name" placeholder="City" required data-error="Please enter your city">
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <select autocomplete="address-level1" class="form-control" id="state" name="name" required data-error="Please enter your state" style="height:55px">
                        <option>  </option>
                        <option>AL</option>
                        <option>AK</option>
                        <option>AR</option>
                        <option>AZ</option>
                        <option>CA</option>
                        <option>CO</option>
                        <option>CT</option>
                        <option>DE</option>
                        <option>FL</option>
                        <option>GA</option>
                        <option>HI</option>
                        <option>IA</option>
                        <option>ID</option>
                        <option>IL</option>
                        <option>IN</option>
                        <option>KS</option>
                        <option>KY</option>
                        <option>LA</option>
                        <option>MA</option>
                        <option>ME</option>
                        <option>MD</option>
                        <option>MI</option>
                        <option>MN</option>
                        <option>MO</option>
                        <option>MS</option>
                        <option>MT</option>
                        <option>NC</option>
                        <option>ND</option>
                        <option>NE</option>
                        <option>NH</option>
                        <option>NJ</option>
                        <option>NM</option>
                        <option>NV</option>
                        <option>NY</option>
                        <option>OH</option>
                        <option>OK</option>
                        <option>OR</option>
                        <option>PA</option>
                        <option>RI</option>
                        <option>SC</option>
                        <option>SD</option>
                        <option>TN</option>
                        <option>TX</option>
                        <option>UT</option>
                        <option>VA</option>
                        <option>VT</option>
                        <option>WA</option>
                        <option>WI</option>
                        <option>WV</option>
                        <option>WY</option>
                      </select>
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" autocomplete="postal-code" class="form-control" id="zip" name="name" placeholder="Zip Code" required data-error="Please enter your zip code">
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <input type="text" placeholder="Your Email" id="email" class="form-control" name="name" required data-error="Please enter your email">
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              <div class="row col-md-12">
                <div class="col-md-4">
                  <div class="form-group">
                    <input type="number" placeholder="Party Size" id="partySize" class="form-control" required data-error="Select Party Size">
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                  <div class="col-md-6">
                    <select class="form-control form-control-lg" id="time-text" aria-describedby="reserve-date" placeholder="Choose a time for reservation">
                      {{#unless times}}
                        <option>No Time Slots Remaining.  Click home page below to start over.</option>
                      {{/unless}}
                      {{#if times}}
                        {{#each times}}
                          <option value="{{this.dataValues.id}}" title="{{this.dataValues.startTime}}">{{this.dataValues.startTime}} --- Seats Remaining: {{this.dataValues.availableSpaces}}</option>
                        {{/each}}
                      {{/if}}
                    </select>
                  </div>
                </div>
                <div class="row col-md-12 justify-content-center">
                  <div class="submit-button text-center">
                    <button class="btn btn-common" id="submit" type="submit">Submit Reservation</button>
                    <div id="msgSubmit" class="h3 text-center hidden"></div>
                    <div class="clearfix"></div>
                  </div>
                </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/reservation.js"></script>